{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}
        <label for="codigo">Codigo:</label>
        <input type="text" name="codigo">

        <label for="nombre">nombre:</label>
        <input type="text" name="nombre">

        <label for="elemento">elemento:</label>
        <input type="text" name="elemento">

        <label for="genero">Genero:</label>
        <input type="text" name="genero">

        <label for="estado">Estado:</label>
        <input type="text" name="estado">
        <input type="submit" value="Enviar">
    </form>

    {% if nombre %}
        pokemon: {{ nombre }}, guardado correctamente.
    {% endif %}

</body>
</html>
